{% extends "base.html" %}

{% block title %} Home Page {% endblock title %}

{% block content %}
<div class="container-fluid my-5">
  <h1>Home Page</h1>

  <div class="row d-flex">
    {% for x in products %}
      <div class="card pb-1 m-2 border-0" style="width: 18rem;" title="{{ x.title }}">
        <a href="{% url 'view_product' x.id %}" class="text-decoration-none text-black">
          {% if x.image.url is not None %}
          <img src="{{x.image.url}}" class="card-img-top border border-3" alt="..." width="70">          
          {% else %}
          <img src="" class="card-img-top border border-3" alt="..." width="70">          
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ x.title }}</h5>
            <p>Price: {{ x.retail_price }}</p>
          </div>
        </a>
      </div>
    {% empty %}
      <p>No products available!</p>
    {% endfor %}
  </div>
</div>
<span
    id="cart-count"
    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{ cart_count }}
</span>

{% endblock content %}
