{% extends "base.html" %}

{% block title %}
Blog 
{% endblock title %}

{% block content %}
<div class="row offset-2 mt-3">
<h1 class="mt-3">Blogs</h1>

    <div class="card w-75 mb-3 ">
      <div class="card-body p-3">
        <h5 class="card-title">Social Issues </h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis molestiae perspiciatis recusandae! Quae laborum quod voluptas accusantium amet veritatis aliquid eum. Recusandae provident deleniti eveniet aut suscipit aliquid esse reprehenderit.
        Quam, assumenda asperiores corporis neque corrupti temporibus minima explicabo ab voluptates cupiditate impedit? Maxime, ut. Numquam officia voluptatibus placeat veritatis eveniet ab, iusto, quisquam non blanditiis sunt officiis nostrum ut?
      .</p>
      <div class="row">
        <div class="col-8">

        </div>
        <div class="col-4">
          <a href="#" class="btn btn-info w-100">GoTo..</a>
        </div>
      </div>
       
      </div>
    </div>

  </div>
    
    

{% endblock content %}




